body{
    background-color: beige;
    color: white;
    margin:0;
    font-family: verdana, sans-serif;
}
#auj{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    padding:15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#auj :nth-child(1){
    text-align: center;
}
.reste{
    display:flex;
    justify-content: space-between;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top: 13%;
   
}
.reste :nth-child(1){
    text-align: center;
}
.icons{
    max-width: 125px;
    max-height: 125px;
}
.imgfond{
    position:fixed;
    left:0;
    z-index:-1;
<<<<<<< HEAD
    max-width: 100%;
    max-height: 100%;
}

/* .row{
   margin-top: 10px; 
}
 */.joursui 
{
    background-color: #ffffff;
    padding:15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.ajd h1{
    font-size: 2vw;
    color: black;
}
.ajd h2{
    font-size: 2vw;
    color: black;
}
.ajd p{
    font-size: 15px;
    color: black;
}
.joursui h1{
    font-size: 2vw;
    color: black;
}
.joursui h2{
    font-size: 1vw;
    color: black;
}
.joursui p{
    font-size: 1vw;
    color: black;
}

@media screen and (max-width: 576px)
{
    .reste{
        display:flex;
        flex-direction: column;
        width:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top: 13%;
        min-width: 60%;
       
    }
    .ajd h1{
        font-size: 5vw;
        color: black;
    }
    .ajd h2{
        font-size: 4vw;
        color: black;
    }
    .ajd p{
        font-size: 3vw;
        color: black;
    }
    .joursui h1{
        font-size: 3vw;
        color: black;
    }
    .joursui h2{
        font-size: 2vw;
        color: black;
    }
    .joursui p{
        font-size: 2vw;
        color: black;
    }
    .villea{
        margin-left:0%;
        margin-top: 25px;
    }
}
#icon1{
    width: 50%;
}
.villea{
    margin-left:45%;
    margin-top: 25px;
}



=======
    height:auto;
    width: 100%;
}   

#conteneur{
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#conteneur input{
    margin-left:20px;
margin-top:10px;
}

#conteneur button{
    margin-left:20px;
    margin-top:10px;
    }
.centrage{
    width:305px;
    margin-left:auto;
    margin-right:auto;
}
>>>>>>> 313b788535a6e904554811289db5a5a306cecbcf
